SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8082
EUREKA_DEFAULT_ZONE=http://localhost:8761/eureka/

# Development database
LOCAL_DB_URL=jdbc:mysql://127.0.0.1:3306/quantitymeasurement?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
LOCAL_DB_USERNAME=root
LOCAL_DB_PASSWORD=shravan



DB_DDL_AUTO=update
JWT_SECRET=mySecretKeyForJwtTokenGenerationAndValidationPurposeOnly12345
JWT_EXPIRATION_MS=86400000

